.credential-form {
    padding: 2% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #d1c7c7;
  }
  
  .credential-element-wrap {
    margin: auto;
    padding-bottom: 2%;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 0;
    align-content: flex-start;
  }
  
  .credential-element {
    min-width: 33%;
    /* border: 1px solid black; */
  }
  
  .credential-element input {
    width: 55%;
    border: 1px solid blue;
  }
  
  .credential-element:nth-child(5) input,
  .credential-element:nth-child(4) input {
    width: 35%;
  }
  
  .credential-element label {
    width: 40%;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
    /* border: 1px solid green; */
  }
  
  
  .credential-submit {
    margin-bottom: 0;
    border-radius: 0;
    align-self: center;
    width: 100%;
    height: 30px;
  }
  