#listing-panel {
    margin-top: 5px;
    height: 73vh;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }
  
.listing-header {
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    background-color: #d1c7c7;
    border: 1px solid white;
    box-shadow: 0 4px 2px -2px grey;
    font-size: small;
    font-weight: bold;
    font-family: system-ui;
    line-height: 25px;
    text-align: center;
  }
  
  .listing-header-item,
  .listing-cell-item {
    padding-left: 3px;
    border-right: 0.5px solid white;
  }
  
  .listing-header-item:hover {
    background-color: silver;
  }
  
  .listing-cell-type {
    width: 5%;
  }
  
  .listing-cell-name {
    width: 50%;
  }
  
  .listing-cell-file-size,
  .listing-cell-download,
  .listing-cell-dummy,
  .listing-cell-last-modified {
    width: 15%;
  }
  
  .listing-cell-download img{
    height: 25px;
    width: 25px;
  }
  
  .listing-row {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-left: 0.5px solid white;
    border-bottom: 0.1px solid rgb(255, 237, 237);
  }
  
  .listing-row:hover {
    background-color: #f1e8e8;
  }
  
  .listing-cell-item {
    list-style: none;
    line-height: 25px;
    text-align: center;
  }
  
  .listing-cell-download img:hover {
    cursor: pointer
  }