.overlay {
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    inset: 0;
    position: fixed;
    background-color: rgba(97, 91, 91, 0.5);
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .modal-popup {
    background-color: rgb(201, 179, 179);
    border: 3px solid rgb(121, 119, 119);
    box-shadow: 0 4px 2px -2px grey;
    border-radius: 15px;
    height: 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    /* gap: 5px; */
  }
